@font-face {
    font-family: 'League Spartan';
    src: url('leaguespartan-bold.eot');
    src: url('leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('leaguespartan-bold.woff2') format('woff2'),
         url('leaguespartan-bold.woff') format('woff'),
         url('leaguespartan-bold.ttf') format('truetype'),
         url('leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;
    }
    
body {
    font-family: 'League Spartan';
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.65;
    display: grid;
    justify-items: center;
}

h2 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.logo {
    justify-self: center;
}

form {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 175px 175px 175px;
}

form input {
    display: block;
    float: left;
    cursor: pointer;
    margin-right: 18px;
}

form label {
    display: block;
    cursor: pointer;
    padding-right: 6px;
}

div {
    width: 175px;
    margin: 0;
    box-sizing: border-box;
}

.sampleRate, .bitDepth, .inputChannels {
    float: left;
}

.location {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 250px, 250px;
}

.buttons {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

button {
    padding: .5em 1.25em;
    background: transparent;
    border: 1px solid grey;
    border-radius: .25em;
    font-size: 1rem;
    cursor: pointer;
    float: left;
}

button:hover {
    background: lightgrey;
}
